* {
    font-size: 13px;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
}

.d-container {
    margin: 0 auto;
    width: 1200px;
    border: 0;
}

.y-btn {
    font-size: 14px;
    background:#ff6a00;
    cursor:pointer;
    width:140px;
    height:50px;
    text-align:center;
    color:#fff;
    line-height:50px;
    display:inline-block;
    margin:6px 0;
}

.small-y-btn {
    width:50px;
    border:1px solid #aaa;
    background:#ccc;
    display:inline-block;
    margin-left:5px;
    text-align:center;
    padding:3px 3px;
    cursor:pointer;
}

.def-table {
    width: 1000px;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    margin-top: 30px;
    border: 0;
}

.big-def-table {
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    width:1200px;
    min-height: 40px;
}

.cell-style {

}

.d-table {
    width: 1000px;
    border-spacing: 0;
    border-collapse: collapse;
    background:#444;
    color:White;
    margin-top: 5px;
}

.d-table td {
    border:1px solid #000;
    padding: 2px 2px;
    text-align:center;
}

.d-list-table {
    border: #333 1px solid;
    border-spacing: 0;
    border-collapse: collapse;
    width: 1000px;
    margin: 0;
}

.d-list-table-op {
    border-top: 0px !important;
}

.d-list-table tr {
    background-color: #eee;
}

.d-pending {
    background-color: #FFF9AD !important;
}

.d-list-table td {
    border-bottom:1px solid #333;
    padding:4px;
    text-align:center;
    word-break: break-all;
}

.sub-link {
    color: blue !important; 
    cursor: pointer;
    text-decoration:underline !important;
}

.d-line-data {
    width: 1000px;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    border: 0;
}

.d-line-data-th {
    width:120px;
    border:1px solid #ccc;
    padding:4px;
    text-align:center;
    background:#fafafa;
}

.d-line-data-td {
    border:1px solid #ccc;
    border-left:0px;
    padding:4px;
    text-align:left;
    padding-left:24px;
}

.estimate-list {
    width:1000px;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.estimate-list-th {
    border:1px solid #ccc; 
    width: 120px; 
    border-bottom:0px; 
    background:#fafafa;
    text-align: center;
    font-weight: 600;
    font-size: 14px !important;
}

.estimate-list-td {
    height: 150px;
    border:1px solid #ccc;
    width: 120px;
    padding: 8px;
    text-align:center;
}

.estimate-list-td-liner {
    border-bottom: #333 2px solid;
}